@font-face {
    font-family: 'Amalfi Coast';
    src: url(../src/fonts/Amalfi\ Coast.ttf);
}
@font-face {
    font-family: 'Dumbledor';
    src: url(../src/fonts/Dumbledor.ttf);
}
@font-face {
    font-family: 'Louis George Cafe';
    src: url(../src/fonts/Louis\ George\ Cafe.ttf);
}
@font-face {
    font-family: 'Scurlock';
    src: url(../src/fonts/Scurlock.TTF);
}
@font-face {
    font-family: 'Imperator';
    src: url(../src/fonts/Imperator.ttf);
}
@font-face {
    font-family: 'OldStyle';
    src: url(../src/fonts/OldStyle.TTF);
}
@font-face {
    font-family: 'Swiss 721';
    src: url(../src/fonts/Swiss\ 721.ttf);
}
@font-face {
    font-family: 'Trajan';
    src: url(../src/fonts/Trajan\ Pro.otf);
}
:root{
        /* FONTS */
    --dumbledor: 'Dumbledor', Arial, Sans-serif;
    --imperator: 'Imperator', Arial, Serif;
    --louisgeorgecafe: 'Louis George Cafe', Arial, Sans-serif;
    --oldstyle: 'OldStyle', Arial, Serif;
    --scurlock: 'Scurlock', Arial, Sans-serif;
    --swiss721: 'Swiss 721', Arial, Sans-serif;
    --trajan: 'Trajan', Arial, Serif;

    --signature: 'Amalfi Coast', Arial, Sans-serif;
        /* COLORS */
    --black: #4b4b4d;
    --lightergrey: #67676b;
    --grey: #838388;
    --white: #F2F2F2;
    --inputBorder: 1px solid rgb(172, 172, 172);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--black);
}
main{
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

    /* COOKIES */

.ad-cookies{
    width: 100%;
    height: 100px;
    background-color: #4a4a5a;
    transition: .3s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--trajan);
}
.ad-cookies__infoIcon{
    position: relative;
    width: 24px;
    height: 24px;
    margin: -35px 20px 0 0;
}
.ad-cookies__icon{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 14px;
    font-family: var(--louisgeorgecafe);
    color: var(--white);
    border: 2px solid var(--white);
}
.ad-cookies > svg{
    max-height: 90%;
}
.logo-path{
    fill: #CCC;
}
.ad-cookies__info{
    padding-right: 30px;
    color: #CCC;
    font-size: 11px;
    line-height: 17px;
}
.ad-cookies__info > b{
    font-size: 12px;
    line-height: 25px;
}
.ad-cookies__btns{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
}
.ad-cookies__btns > button{
    position: relative;
    cursor: pointer;
    font-family: var(--trajan);
    font-size: 12px;
    color: #CCC;
    padding: 5px 15px;
    background: none;
    border: 1px solid var(--lightergrey);
}
.ad-cookies__btns > button:hover{
    color: var(--black);
    background-color: var(--white);
    transition: .3s;
}

    /* SCROLLBAR */

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: var(--grey);
}
::-webkit-scrollbar-thumb{
    background-color: var(--white);
}

    /* MAIN NAVBAR */

.ad-header__nav{
    width: 100vw;
    height: 30px;
    /* background-image: linear-gradient(120deg,var(--grey) 30%,var(--black) 100%); */
    background-color: var(--lightergrey);
    font-family: var(--louisgeorgecafe);
}
.ad-header__nav > ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.ad-header__nav > ul > li{
    height: 100%;
    margin-right: 10px;
    color: #FFF;
    opacity: 80%;
    transition: .3s;
}
.ad-header__nav > ul > li:hover{
    opacity: 100%;
    transition: .3s;
}
.ad-header__nav > ul > li > a{
    height: 100%;
    position: relative;
    color: inherit;
    text-transform: uppercase;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ad-header__nav > ul > li > a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    border-top: 2px solid var(--white);
    transition: .3s;
}
.ad-header__nav > ul > li:hover > a::before{
    width: 100%;
    transition: .3s;
}

    /* HEADER */

.ad-content__header{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url(../src/img/marble.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(.5px) brightness(100%);
    box-shadow: inset 0 0 2em 3px var(--black);
    opacity: 90%;
}
.ad-content__header > img{
    max-width: 110%;
    opacity: 90%;
    filter: drop-shadow(0 0 .1px var(--grey));
}

    /* SECONDARY NAV */

.secondary-nav{
    margin-top: 30px;
    width: 100%;
}
.secondary-nav > ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.secondary-nav > ul > li > a{
    position: relative;
    margin: 15px;
    color: var(--white);
    font-size: 12px;
    font-family: var(--louisgeorgecafe);
    text-transform: uppercase;
}
.secondary-nav > ul > li > a::after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    border-bottom: 1px solid var(--white);
    transition: .3s;
}
.secondary-nav > ul > li:hover > a::after{
    width: 100%;
    transition: .3s;
}

    /* FORM */

hr{
    margin: 2px 0;
    opacity: 30%;
    border: none;
    border-top: var(--inputBorder);
}
form > p{
    width: 100%;
    color: var(--grey);
    text-align: center;
}
form > p:last-child{
    margin-top: 10px;
}
form > .error{
    width: 100%;
    color: var(--kaki);
    margin-bottom: 10px;
}
form{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 200px;
}
.homeForm{
    width: 80%;
    max-width: 1000px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: var(--louisgeorgecafe);
}
.homeForm > .form__input{
    font-size: 10px;
    padding: 5px;
    max-width: 100px;
    max-height: 20px;
    margin-right: 20px;
    border-bottom: 1px solid var(--white);
}
.homeForm > button{
    position: relative;
    left: 0;
    transform: translate(0);
    background: none;
    border: none;
    box-shadow: none;
    height: 20px;
    font-size: 10px;
    color: var(--white);
    padding: 0;
}
form > .form__input{
    width: 100%;
    margin: 5px 0;
    padding: 8px;
    background: none;
    border: none;
    border-bottom: 2px solid var(--white);
    color: var(--white);
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); */
}
form > .form__input:focus{
    outline: none;
}
form > .form__input::placeholder{
    color: var(--white);
    transition: .3s;
}
form > .form__input:focus::placeholder{
    opacity: 0;
    transition: .3s;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active{
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--white);
}
form > button{
    position: relative;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 80px;
    padding: 8px;
    cursor: pointer;
    background-color: #D9D9D9;
    border: none;
    border-bottom: var(--inputBorder);
    border-right: var(--inputBorder);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

    /* CONTENT */

.ad-content{
    width: 50%;
    height: auto;
    background-color: var(--black);
    box-shadow: 0 0 10px #222;
}
.ad-content__body{
    width: 100%;
    min-height: calc(100% - 330px);
    padding-bottom: 50px;
    background-color: var(--grey);
    /* background-image: url(../src/img/); */
    filter: drop-shadow(0 0 3px var(--black));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.groups{
    width: 80%;
    margin-top: 30px;
}
.groups:last-child{
    margin-bottom: 50px;
}
.group-title, .categories{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    overflow: hidden;
}
.group-title{
    padding-left: 30px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    /* background-image: url(../src/img/grouptile.png);
    background-position: center;
    background-size: cover; */
    color: rgba(180, 186, 190, 0.5);
    font-family: var(--trajan);
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    filter: grayscale(70%) brightness(150%) drop-shadow(1px 1px 1px #444);
    /* text-shadow: 0px 1px 0px #111, 0px 3px 50px rgba(255, 255, 255, 0.5); */
    /* 0px 1px 0px rgba(187, 187, 187, .4), 0px -1px 0px rgba(0,0,0,.8); */
}
.categories{
    position: relative;
    height: 230px;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 1px rgba(34, 34, 34, 0.5);
}
.cat-bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    background-image: url(../src/img/categorytile.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(70%) brightness(200%);
    opacity: 30%;
}
.categories:nth-child(3) > .cat-bg{
    background-image: url(../src/img/categorytile2.png);
}
.categories:hover > .cat-bg{
    filter: grayscale(20%) brightness(200%);
    opacity: 40%;
}
.l-block, .r-block{
    z-index: 1;
}
    /* CATEGORIES LEFT BLOCK */

.l-block{
    padding-left: 10%;
    height: 90%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.l-title{
    width: 100%;
    color: transparent;
    border-bottom: 1px solid #111;
    text-shadow: 0px 1px 0px #111, 0px 3px 50px rgba(255, 255, 255, 0.5);
}
.desc{
    height: 100%;
    padding: 5px 0;
    /* background-color: rgba(0, 0, 0, 0.3); */
}
.subs > a{
    padding: 5px 15px;
    background-color: #000;
    opacity: 60%;
    font-family: var(--louisgeorgecafe);
    font-size: 12px;
    text-transform: uppercase;
    color: var(--white);
    backdrop-filter: blur(30px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.subs > a:hover{
    opacity: 75%;
}

    /* CATEGORIES RIGHT BLOCK */

.r-block{
    padding: 10px;
    width: 30%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h3, h6, .last-post a{
    font-family: var(--trajan);
    
}
.r-title{
    margin-left: -2px;
    font-size: 28px;
    color: #111;
}
.last-post{
    padding: 2px;
}
.last-post-title{
    font-size: 12px;
    color: var(--white);
}
.last-post a{
    font-size: 14px;
}
.last-post-date{
    font-size: 11px;
    margin: 2px 0;
}
.last-post-user-pp{
    padding: 3px;
    width: 75px;
    height: 75px;
    border: 3px solid var(--lightergrey);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.last-post-user-pp img{
    height: 200%;
}

.marauders{
    color: rgb(58, 95, 58);
    font-weight: bold;
}
.covenant{
    color: rgb(184, 181, 57);
    font-weight: bold;
}
.syndicate{
    color: rgb(99, 0, 165);
    font-weight: bold;
}
.superadmin{
    color: rgb(165, 28, 28);
    font-weight: bold;
}

    /* CARDS */

.container{
    width: 60vw;
    height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    background-color: #D9D9D9;
}
.cards{
    width: 100%;
    margin: 5px;
    background-color: #CCC;
    border-radius: 5px;
}
.card-header{
    padding: 5px 10px;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid var(--grey);
}
.card-body{
    padding: 5px 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-footer{
    padding: 5px 10px;
    width: 100%;
    height: 50px;
    border-top: 1px solid var(--grey);
}

@media screen AND (max-width: 1000px){
    .ad-content{
        width: 100%;
    }
    .ad-content__header{
        height: 200px;
        box-shadow: inset 0 0 5em #000;
    }
    .groups{
        width: 100%;
    }
}

.marauders, .covenant, .syndicate, .superadmin{
    text-transform: capitalize;
}
.qeel{
    width: 80%;
    min-height: 300px;
    margin-top: 30px;
    font-family: var(--trajan);
    box-shadow: 1px 1px 1px rgba(68, 68, 68, 0.8);
    filter: brightness(90%);
}
.qeel-header{
    width: 100%;
    height: 50px;
    padding: 0 20px;
    font-size: 30px;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}
.qeel-body{
    width: 100%;
    height: 100%;
    min-height: 250px;
    padding: 20px;
    font-size: 12px;
    background-color: #BBB;
    background-image: url(../src/img/marble.jpg);
    background-position: center;
    background-size: cover;
}