@font-face {
    font-family: 'Amalfi Coast';
    src: url(../src/fonts/Amalfi\ Coast.ttf);
}
@font-face {
    font-family: 'Dumbledor';
    src: url(../src/fonts/Dumbledor.ttf);
}
@font-face {
    font-family: 'Louis George Cafe';
    src: url(../src/fonts/Louis\ George\ Cafe.ttf);
}
@font-face {
    font-family: 'Scurlock';
    src: url(../src/fonts/Scurlock.TTF);
}
:root{
        /* FONTS */
    --dumbledor: 'Dumbledor', Arial, Sans-serif;
    --louisgeorgecafe: 'Louis George Cafe', Arial, Sans-serif;
    --scurlock: 'Scurlock', Arial, Sans-serif;
    --signature: 'Amalfi Coast', Arial, Sans-serif;
        /* COLORS */
    --black: #222;
    --green: #090;
    --grey: rgb(172, 172, 172);
    --kaki: #69706e;
    --white: #FFF;
    --inputBorder: 1px solid rgb(172, 172, 172);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--black);
}
.ag-cookies{
    width: 100%;
    height: 150px;
    background-color: var(--black);
    transition: .3s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ag-cookies__container{
    position: relative;
    width: calc(50% - 30px);
    height: calc(100% - 30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid var(--black);
    border-image: url(../src/img/cell-border.png) 18 24/12px 16px 12px 15px/5px 7px round;
}
.ag-cookies__container > svg{
    max-height: 100%;
}
.logo-path{
    fill: var(--white);
}
.ag-cookies__btns{
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
}
.ag-cookies__btns > button{
    cursor: pointer;
    font-family: var(--dumbledor);
    font-size: 18px;
    color: var(--grey);
    padding: 5px 15px;
    background: none;
    border: 1px solid var(--white);
    border-image: url(../src/img/cell-border.png) 25 24/12px 16px 12px 10px/5px 7px round;
}
.ag-cookies__btns > button:hover{
    filter: brightness(150%);
}
main{
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.background{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
    width: 100vw;
    filter: brightness(20%);
}
.ag-content{
    width: 50%;
    height: auto;
    background-color: var(--black);
    box-shadow: 0 0 10px var(--black);
}
.ag-content__header{
    width: 100%;
    height: 300px;
}
.ag-content__body{
    width: 100%;
    height: 200vh;
    background-color: var(--kaki);
}

.bg > img{
    position: fixed;
    z-index: -9;
    bottom: 0;
}
.bg > img:first-child{
    left: 0;
    filter: drop-shadow(0 0 10px #ffffff48);
}
.bg > img:nth-child(2){
    right: 0;
    filter: drop-shadow(0 0 10px #ff000048);
}

    /* SCROLLBAR */

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: var(--grey);
}
::-webkit-scrollbar-thumb{
    background-color: var(--black);
}

    /* HEADER */

/* .header__title{
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: absolute;
    top: 42%;
    left: 39%;
    transform: translate(-50%, -50%);
    font-size: 66px;
    text-transform: uppercase;
    background-image: linear-gradient(120deg,#8c9290 40%,#69706e 100%);
    opacity: 60%;
    font-family: var(--dumbledor);
    border-bottom: 1px solid #69706e ;
    filter: brightness(120%);
}
.header__title::after{
    content: 'new world malva marauder company';
    background-clip: inherit;
    -webkit-background-clip: inherit;
    position: absolute;
    bottom: -40%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    filter: inherit;
    font-size: 16px;
    font-family: var(--louisgeorgecafe);
    letter-spacing: 1.5px;
    text-transform: inherit;
    text-align: center;
    background-image: inherit;
} */

    /* NAVBAR */

.header__nav{
    width: 100vw;
    height: 30px;
    background-image: linear-gradient(120deg,#353a39 30%,var(--black) 100%);
    font-family: var(--louisgeorgecafe);
}
.header__nav > ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.header__nav > ul > li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: #FFF;
}
.header__nav > ul > li:hover{
    color: var(--green);
}
.header__nav > ul > li > a{
    color: inherit;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
}


    /* FORM */

hr{
    margin: 2px 0;
    opacity: 30%;
    border: none;
    border-top: var(--inputBorder);
}
form > p{
    width: 100%;
    color: var(--grey);
    text-align: center;
}
form > p:last-child{
    margin-top: 10px;
}
form > .error{
    width: 100%;
    color: var(--kaki);
    margin-bottom: 10px;
}
form{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 200px;
}
form > .form__input{
    width: 100%;
    margin: 5px 0;
    padding: 8px;
    background-color: rgb(218, 218, 218);
    border: none;
    border-bottom: var(--inputBorder);
    border-right: var(--inputBorder);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
form > .form__input:focus{
    outline: none;
}
form > .form__input::placeholder{
    transition: .3s;
}
form > .form__input:focus::placeholder{
    opacity: 0;
    transition: .3s;
}
form > button{
    position: relative;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 80px;
    padding: 8px;
    cursor: pointer;
    background-color: #D9D9D9;
    border: none;
    border-bottom: var(--inputBorder);
    border-right: var(--inputBorder);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

    /* CARDS */

.container{
    width: 60vw;
    height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    background-color: #D9D9D9;
}
.cards{
    width: 100%;
    margin: 5px;
    background-color: #CCC;
    border-radius: 5px;
}
.card-header{
    padding: 5px 10px;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid var(--grey);
}
.card-body{
    padding: 5px 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-footer{
    padding: 5px 10px;
    width: 100%;
    height: 50px;
    border-top: 1px solid var(--grey);
}